{% extends 'shop/base/base.html' %}
{% load static %}
{% block title %}
    apelsin market detail
{% endblock %}
{% block home %}
<!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.img_url}}" alt="..." /></div>
                    <div class="col-md-6">
                    <div style="display:flex; gap: 10px;">
                        <button type="submit" class="btn btn-danger" style="margin-bottom:10px;"><a href="{% url 'delete_product' product.id %}" style="text-decoration:none;color: white;">O'chirish</a></button>
                        <button type="submit" class="btn btn-warning" style="margin-bottom:10px;"><a href="{% url 'edit_product' product.id %}" style="text-decoration:none;color: white;">O'zgartirish</a></button>
                    </div>
                        <div class="small mb-1">Qolgan: {{ product.quantity }} </div>
                        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                        <div class="fs-5 mb-5">
                          {% if product.discount > 0 %}
                            <span class="text-decoration-line-through">${{ product.price }}</span>
                          {% endif %}
                            <span>${{ product.discount_price }}</span>
                        </div>
                        <p class="lead">{{ product.description }}</p>
                        <div class="d-flex">
                            <form method="get" action="{% url 'order_detail' product.id %}">
                                <div class="form-group">
                                    <h2>Buyurtma berish</h2>
                                </div>
                                <div class="form-group mb-3">
                                  <label for="formGroupExampleInput">Ismingiz</label>
                                  <input type="text" name="name" class="form-control"  placeholder="Ismingiz">
                                </div>
                                <div class="form-group mb-3">
                                  <label for="formGroupExampleInput2">Telefon raqamingiz</label>
                                  <input type="text" name="phone_number" class="form-control" placeholder="Telefon raqamingiz">
                                </div>                                <div class="form-group mb-3">
                                  <label for="formGroupExampleInput2">Mahsulot soni</label>
                                  <input type="number" name='quantity' class="form-control" placeholder="Mahsulot soni">
                                </div>
                                  <div class="form-group mb-3">

                                    <input type="submit" class="btn btn-success" value="Yuborish">
                                  </div>
                              </form>

                        </div>
                        <div>
                    {% for message in messages %}
                        {% if 'error' in message.tags %}
                            <li style="color: red">{{ message }}</li>
                        {% elif 'success' in message.tags %}
                            <li style="color: green">{{ message }}</li>
                        {% endif %}

                    {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>So'ngi sharxlar({{ positive }})</h2>
                    </div>
                    {% if comments %}
                     {% for comment in comments %}
                      {% if comment.is_negative is False %}
                      <div class="media card p-4 mt-2">
                        <div class="media-body">
                          <h3 class="mt-0">{{ comment.name }}</h3>
                            {{ comment.comment }}
                        </div>
                      </div>
                         {% endif %}
                     {% endfor %}
                    {% else %}
                        <h3 class="mt-0">Hali sharxlar mavjud emas</h3>
                    {% endif %}
                </div>
                <div class="col-8 offset-2 mt-5">
                    <div class=" p-5">
                        <div class="text-center">
                            <h3>Sharx qo'shish</h3>
                        </div>

                    <form method="get" action="{% url 'comment_detail' product.id %}">
                        <div class="form-group mb-3">
                          <label for="formGroupExampleInput">Ismingiz</label>
                          <input type="text" name="name" class="form-control"  placeholder="Ismingiz">
                        </div>
                        <div class="form-group mb-3">
                          <label for="formGroupExampleInput2">Emailingiz</label>
                          <input type="text" name="email" class="form-control" placeholder="Emailingiz">
                        </div>

                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Sharxingiz</label>
                           <textarea name="comment" class="form-control" id="" cols="30" rows="10"></textarea>
                          </div>

                          <div class="form-group mb-3">
                            <input type="submit" class="btn btn-success" value="Yuborish">
                          </div>
                      </form>

                    </div>
                </div>
            </div>
        </div>
        {% if related %}
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">O'xshash mahsulotlar</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for related_product in related %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top"
                            src="{{ related_product.img_url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ related_product.name}}</h5>
                        <div class="fs-5 mb-5">
                          {% if related_product.discount > 0 %}
                            <span class="text-decoration-line-through">${{ related_product.price }}</span>
                          {% endif %}
                            <span>${{ related_product.discount_price }}</span>
                        </div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'detail' related_product.id %}">View product</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
 {% endblock %}